{
  "extends": [
    "airbnb"
  ],
  "rules": {
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "import/extensions": "off"
  },
  "overrides": [
    {
      "files": [ "tests/browser/**/*.js" ],
      "env": {
        "browser": true
      }
    },
    {
      "files": [ "tests/node/**/*.js" ],
      "env": {
        "node": true
      }
    },
    {
      "files": [ "tests/**/*.js" ],
      "env": {
        "mocha": true,
      },
      "plugins": [
        "mocha",
        "chai-expect"
      ],
      "rules": {
        "func-names": "off",
        "prefer-arrow-callback": "off",
        "import/no-unresolved": "off",
        "no-unused-expressions": "off",
        "chai-expect/missing-assertion": 2,
        "chai-expect/terminating-properties": 1
      }
    }
  ]
}
